*,*::after,*::before{
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
    background-color: #f5f5f5;
}
img{
    width: 100%;
}
/* CSS CỦA VINH */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 13px;
}

p {
    margin: 0;  
}

.btn {
    background-color: #fff;
    padding: 0;
    border: 0;
}
/* Header */
.header {
    background: linear-gradient(0, #ff6333, #e93d2c);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
}

/* Header navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    height: 34px; 
}

.navbar__support {
    display: flex;
    padding: 9px 0;
}

.navbar__support li {
    padding: 0 7px;
    border-right: 2px solid #f8705f;
}

.navbar__support li:not(.navbar__support--connection):hover {
    padding: 0 7px;
    border-right: 2px solid #f8705f;
    cursor: pointer;
    color: #f98579;
}

.navbar__support--connection, .navbar__support--icon {
    padding-right: 0 !important;
    border-right: 0 !important;
}

.navbar__support--icon i {
    padding-right: 4px;
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.navbar__connection {
    display: flex;
    padding: 9px 0;
}

.navbar__connection li {
    padding: 0px 10px;
    cursor: pointer;
}

.navbar__connection li:not(.navbar__support--connection):hover {
    padding: 0px 10px;
    cursor: pointer;
    color: #f98579;
}

.navbar__connection--sign-in {
    border-left: 2px solid #f8705f;
}

/* Header container */
.container {
    width: 1200px;
    height: 85px;
    display: flex;
    justify-content: space-between;
}

/* Header logo */
.container__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    margin-right: 40px;
}

.container__logo--icon {
    fill: #ffffff;
    width: 150px;
    margin-bottom: 18px;
}

/* Header engine */
.container__engine {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex: 7;
}

/* Header search engine */
.search {
    background: #ffffff;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search__input {
    flex: 1;
    height: 30px;
    padding-left: 10px; 
    border: 0;
    margin-left: 2px;
}

.search__input:focus {
    outline: 0;
}

.search__icon {
    background: #fb5533;
    height: 34px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2px;
}

.search__icon:hover {
    background: #f98579;;
    height: 34px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2px;
    cursor: pointer;
}

/* Header tag engine */
.tag {
    display: flex;
}

.tag__item {
    margin-right: 13px;
    cursor: pointer;
}

/* Header cart*/
.container__cart {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    flex: 1;
}

.hidden {
    display: none;
}




/* Cart page */
.cart-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cart-container__table {
    display: flex;
    flex-direction: column;
}

.cart__header {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    height: 55px;
    padding: 0 40px;
}

.cart__header--info {
    flex: 5;
}

.cart__header--cost {
    flex: 1;
    text-align: center;
}

.cart__header--quantity{
    flex: 1;
    text-align: center;
}

.cart__header--total-price {
    flex: 1;
    text-align: center;
}

.cart__header--act{
    flex: 1;
    text-align: center;
}

.cart-container__table{
    width: 1200px;
    margin: 20px 0;
}

.cart__body {
    display: flex;
    flex-direction: column;
}

.cart__product--box {
   height: 115px;
   background-color: #ffffff;
   margin-top: 30px;
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.cart-product__box--handle {
    display: flex;
    align-items: center;
    height: 80px;
    padding: 0 40px;
}

.product-box__handle--info {
    flex: 5;
    display: flex;
}

.product-box-handle__info--img {
    width: 80px;
    height: 80px;
    box-sizing: border-box;
}

.product-box-handle__info--description {
    margin-left: 20px;
    width: 40%;
}

.product-box__handle--cost {
    flex: 1;
    text-align: center;
}

.cart-product__cost--sale {
    color: #f16d52;
}

.product-box__handle--quantity {
    flex: 1;
    display: flex;
    justify-content: center;
}

.btn-decrease, .btn-increase {
    border: 1px solid #f3f3f3;
    cursor: pointer;
    padding: 0 10px;
}

.cart-product__quantity--num {
    text-align: center;
    width: 2em;
    border: 1px solid #f3f3f3;
}

.cart-product__quantity--num:focus {
    outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.product-box__handle--total-price {
    flex: 1;
    text-align: right;
    color: #f0632d;
}

.btn-delete{
    flex: 1;
    text-align: center;
    cursor: pointer;
}

.btn-delete:hover{
    flex: 1;
    text-align: center;
    color: #f0632d;
}

.cart__footer {
    background-color: #fff;
    position: sticky;
    height: 64px;
    width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    bottom: 0;
}

.btn__delete--all {
    padding: 0 20px;
    cursor: pointer;
}

.cart-footer__handle--purchase {
    display: flex;
    align-items: center;
}

.cart-footer-handle__purchase--text {
    padding: 10px;
}

.cart-footer-handle__purchase--total{
    color: #f0632d;
}

.btn-purchase {
    background: linear-gradient(0, #ff6333, #e93d2c);
    outline: none;
    border: 0;
    padding: 15px 40px;
    margin: 10px;
    cursor: pointer;
}

/* CSS CỦA TỚI */
.sale-fixed{
    position: fixed;
    bottom: 100px;
    right: 100px;
    z-index: 3;
}
.grid{
    width: 1200px;
    margin: 0 auto;
}
.product-main{
    background: #f5f5f5;
    padding: 20px;
}
.product-dashboard{
    margin-bottom: 5px;
    box-shadow: 0 0.0625rem 0.125rem 0 rgb(0 0 0 / 10%);
}
.product__catergories{
    display: flex;
    align-items: center;
    padding: 0;
    background: #fff;
}
.product__catergories li{
    list-style: none;
    padding: 15px 46px ;
    cursor: pointer;
}
.product__suggesttoday.active{
    border-bottom:4px solid rgb(238, 77, 45);
}
.product__suggesttoday{
    color: rgb(238, 77, 45);
    font-size: 1rem;
}
.product__saleday img{
    height: 1.25rem;
}
.products-wrap{
    display: flex;
    flex-wrap:wrap;
    margin-left: -5px;
    margin-right: -5px;
}
.product-wrap{
    position: relative;
    width: 16.66667%;
    border : 5px solid transparent;
    border-radius: 4px;
}
.product__detail:hover{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    top: -2px;
    border: 1px solid rgb(238,87,57);
}
.product__detail:hover +.product__findsame{
    display: block;
}
.product__detail{
    box-shadow: 0 0.0625rem 0.125rem 0 rgb(0 0 0 / 10%);
    box-sizing: border-box;
    background: #fff;
    position: relative;
    width: 100%;
    border-radius: 3px;
    display:block;
    text-decoration: none;
    color: rgba(0,0,0,.87);
}
.product__description{
    font-size: 0.8rem;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    flex-grow : 1;
    max-height: 1.75rem;
}
.checkminheight{
    min-height: 3.75rem;
    display:flex;
    flex: 1 0 auto;
    flex-direction: column
}
.product__priceandsold{
    display:flex;
    justify-content: space-between;
}
.product__price{
    color:#ee4d2d;
}
.product__sold{
    font-size: 0.8rem;
    color: rgba(0,0,0,.54);
}
.product__unit{
    font-size: 0.8rem;
    text-decoration: underline;
}
.product__promotion{
    position: absolute;
    top: 2px;
    right: 2px;
    text-align: center;
    background-color: rgba(255,212,36,.9);
    color: #fff;
    padding: 2px 3px 6px 3px;
    line-height: 0.9rem;
}
.product__content{
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
}
.product__promotion__percent{
    color:#ee4d2d;
    font-size: 0.9rem;
    line-height: inherit;
}
.product__promotion::after{
    content : "";
    position: absolute;
    display:block;
    border-color: transparent rgba(255,212,36,.9);
    border-style: solid;
    border-width: 0 20.8px 4px;
    bottom: -4px;
    right: 0;
}
.product__fav-mall{
    color: #fff;
    display: inline-block;
    position: absolute;
    top: 10px;
    left: -4px;
    font-size: 0.8rem;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    padding: 2px 4px;
}
.product__mall{
    background:#d0011b;
}
.product__mall::after{
    content : "";
    border-color: transparent #913113;
    border-style : solid;
    border-width: 0 5px 5px 0;
    left:0;
    bottom: -5px;
    position: absolute;
}
.product__favorite{
    background: rgb(242, 82, 32);
}
.product__favorite::after{
    content : "";
    border-color: transparent #913113;
    border-style : solid;
    border-width: 0 5px 5px 0;
    left:0;
    bottom: -5px;
    position: absolute;
}
.product__findsame{
    background: #ef5c40;
    text-align: center;
    color: #fff;
    padding: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    display: none;
    position: absolute;
    width: 100%;
    border: 1px solid rgb(238,87,57);
    right: 0; 
    left: 0;
    bottom: -27px;
    z-index:2;
}
.product-watchmore{
    text-align:center;
    margin: 27px;
}
.product__watchmore__text{
    box-shadow: 0 0.0625rem 0.125rem 0 rgb(0 0 0 / 10%);
    background: #fff;
    display: inline-block;
    padding: 12px;
    color: #555555;
    min-width: 24.375rem;
    font-size: 0.9rem;
    text-decoration: none;
}
.product__watchmore__text:hover{
    background: rgb(240,240,240);
    border : 1px solid rgb(0,0,0,0.09);
    box-shadow: none;
}



/* PRODUCT DETAIL FEATURE 3 */
.product-details{
    display:flex;
    background: #fff;
    margin-top: 20px;
}
.product-detail__images{
    width: 40%;
    padding: 20px;
}
.product-detail__images
.product-detail__image__small{
    display:flex;
    
}
.product-detail__image--active{
    border: 1px solid rgb(238,77,45);
}
.product-detail__image__small img{
    width: 20%;
}
.product-detail__information{
    width: 60%;
    font-size: 0.9rem;
    padding: 20px 45px 20px 20px;
}
.product-detail__ratecollection{
    display:flex;
    color: #767676;
    align-items:center;
}
.product__information__title{
    vertical-align: middle;
}
.product__information__title div.product__information__ratefavorite{
    color: #fff;
    font-size: 0.75rem;
    padding: 2px 4px;
    border-radius: 2px;
    background:rgb(238,77,45);
    vertical-align:text-bottom;
    display:inline-block;
    margin-right: 4px;

}
.product__information__title span{
    font-size: 1.25rem;
}

.product__ratecollection__stars{
    display:flex;
    line-height: 0.875rem;
    padding: 2px 10px;
    border-right: 1px solid rgb(229,229,229);
    margin: 10px 0;
}
.product__ratecollection__stars svg{
    height: 0.875rem;
    fill: rgb(238,77,45);
}
.product__ratecollection__stars span{
    color: #ee4d2d;
    text-decoration: underline;
    font-weight: 100;
}
.product__ratecollection__user{
    padding: 2px 10px;
    border-right: 1px solid rgb(229,229,229);
    margin: 10px 0;
}
.product__ratecollection__user span{
    text-decoration: underline;
    color: #222;
}
.product__ratecollection__sold{
    padding:2px 10px;
    margin: 10px 0;

}
.product__ratecollection__sold span{
    color: #222;
}


.product__informationprice__detail{
    background: rgb(250,250,250);
    display:flex;
    align-items:center;
    padding: 10px;
    margin: 15px 0;
}
.product__detail__oldprice{
    text-decoration:line-through;
    color: #929292;
    font-size: 1rem;
    margin-right: 15px;
}
.product__detail__currentprice{
    font-size: 1.875rem;
    color: #ee4d2d;
    font-weight: 500;
    margin-right: 15px;
}
.product__detail__promotion{
    background: #ee4d2d;
    color: #fff;    
    padding: 1px 2px;
    font-size: 0.75rem;
    font-weight: 600;
    border-radius: 2px;
}
.product__delivery{
    display:flex;
    align-items:center;
    margin: 15px 0;
}
.product__delivery__title{
    color: #757575;
    margin-right: 20px;
}
.product__delivery__free{
    display:flex;
    align-items:center;
    width: 25px;
    margin-right: 5px;
}
.product__quantitybuy{
    display: flex;
    align-items:center;
    margin: 45px 0 15px 0;
}
.product__quantitybuy__title{
    margin-right: 40px;
    color: #757575;

}
.product__quantiybuy__choice{
    display: flex;
    margin-right: 20px;

}
.product__choicesign{
    border: 1px solid rgba(0, 0, 0, .09);
    padding: 6px 10px;
    background: #fff;
}
.product__choicesign--input{
    width:50px;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, .09);
    outline:none;
    border-right: none;
    border-left: none;
}
.product__addcartorbuy{
    display:flex;
    margin: 15px 0;
}
.product__addcart{
    color: #ee4d2d;
    margin-right: 12px;
    cursor: pointer;
}
.product__addcart:hover{
    background: rgba(255,197,178,.181);
}
.product__addcart i{
    margin: 5px;
}
.product__buyimmediately{
    background:#ee4d2d;
    color: #fff;
    cursor: pointer
}
.product__buyimmediately:hover{
    background: #f05d40;
}
/* JOINT */
.button-joint{
    padding: 12px;
    font-size : 1rem ;
    border: none;

}
.product__conditionreturn{
    display:flex;
    align-items:center;
    font-size: 0.9rem;
    margin:45px 0 15px 0;
}
.product__conditionreturn__commit{
    display:flex;
    align-items:center;
    color: #222222;
    margin-right: 15px;
}
.product__conditionreturn__commit img{
    width: 20px;
    margin-right: 5px;
}
.product__conditionreturn span{
    color: #929292;
    
}
/* CSS của hiệp */

body{
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
    background-color: #f5f5f5;
}

/* categories */
.categories{
    background-color: #ffffff;
    width: 1200px;
    margin: 20px auto 0;
}
.categories__title{
    padding: 0 20px;
    font-size: 1rem;
    color: rgba(0,0,0,.54);
    font-weight: 500;
    height: 60px;
    display: flex;
    align-items: center;
    border: 1px solid #f5f5f5;
}

.categories__itemlist{
    display: flex;
    align-items: center;
}

.categories__itemlist:hover .categories__button{
    padding: 25px;
    font-size: 2rem;
}

.categories__itemlist:hover .categories__button--back{
    margin-left: -22.5px;
}

.categories__itemlist:hover .categories__button--next{
    margin-left: 1167.5px;
}

.categories__button{
    width: 25px;
    height: 25px;
    background-color: #fff;
    position: absolute;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 1px 12px 0 rgba(0,0,0,.12);
    color: rgba(0,0,0,.54);
    border: none;
}

.categories__button--hidden{
    visibility: hidden;
}

.categories__button--back{
    margin-left: -10px;
}

.categories__button--next{
    margin-left: 1180px;
}


.categories__content{
    font-size: .875rem;
    height: 300px;
    border: 1px solid #f5f5f5;
    overflow: hidden;
}

.categories__nav{
    display: flex;
    position: relative;
    height: 100%;
}

.categories__nav--toLeft{
    justify-content: flex-end;
}

.categories__nav li{
    width: 10%;
    list-style-type: none;
}
 
.categories__group{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.categories__group a{
    display: block;
    width: 100%;
    height: 150px;
    text-decoration: none;
    border: 1px solid #f5f5f5;
}

.categories__group a:hover{
    border: 1px solid #00000000;
    padding: 3px;
}

.categories__element{
    display: flex;
    width: 120px;
    height: 150px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.categories__element img{
    display: block;
    margin-top: 10%;
    height: 5rem;
} 

.categories__name{
    color: rgba(0,0,0,.8);
    font-size: .875rem;
    line-height: 1.25rem;
    height: 2.5rem;
    margin-bottom: .625rem;
    text-align: center;
    overflow: hidden;
    word-break: break-word;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}



/* footer */
footer{
    background-color: #fbfbfb;
    border-top: 4px solid #ee4d2d;
    margin-top: 20px;
}

.footer{
    width: 1200px;
    font-size: 0.75rem;
    margin: 0 auto;
    display: flex;
    color: rgba(0,0,0,.54);
    border-bottom: 1px solid #e9e9e9;
}

.footer__container{
    width: 240px;
}

.footer__nav{
    list-style-type: none;
    margin: 0 0 1.5625rem;
}

.footer__nav li{
    margin-bottom: .75rem;
    text-transform: capitalize;
}

.footer__nav li a{
    text-decoration: none;
    color: rgba(0,0,0,.54);
}

.footer__nav li a:hover{
    color: #ee4d2d;
}

.footer__title{
    display: flex;
    margin-top: 2.5rem;
    margin-bottom: 1.25rem;
    align-content: center;
}

.footer--no-margin-top{
    margin-top: 0px;
}

.footer__app{
    display: flex;
    box-sizing: content-box;
}

.footer__app--element {
    display: block;
    margin-right: 0.5rem;
}

.footer__app img{
    width: 7rem;
    padding-bottom: 0.5rem;
}

.footer__social{
    display: flex;
}

.footer__social div{
    padding-right: 0.5rem;
}